name: CI

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write
  id-token: write

jobs:
  ci:
    uses: ./.github/workflows/project-ci.yml
    with:
      python-version: "3.11"
      package-name: "coron"
      publish-on: "main"
    secrets:
      pypi-token: ${{ secrets.PYPI_TOKEN }}
